<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dongdong.mapper.PersonMapper">
  <resultMap id="BaseResultMap" type="com.dongdong.entity.dao.Person">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="person_uuid" jdbcType="VARCHAR" property="personUuid" />
    <result column="person_name" jdbcType="VARCHAR" property="personName" />
    <result column="id_card_no" jdbcType="VARCHAR" property="idCardNo" />
    <result column="sex" jdbcType="TINYINT" property="sex" />
    <result column="birth_day" jdbcType="TIMESTAMP" property="birthDay" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="department_uuid" jdbcType="VARCHAR" property="departmentUuid" />
    <result column="salary" jdbcType="DECIMAL" property="salary" />
    <result column="phone_no" jdbcType="VARCHAR" property="phoneNo" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="version" jdbcType="VARCHAR" property="version" />
    <collection property="department" column="department_uuid" select="com.dongdong.mapper.DepartmentMapper.selectByUuid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, person_uuid, person_name, id_card_no, sex, birth_day, address, department_uuid, 
    salary, phone_no, email, remark, gmt_create, gmt_modified, version
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from person
    where id = #{id,jdbcType=BIGINT}
  </select>
  <insert id="insert" parameterType="com.dongdong.entity.dao.Person">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into person (person_uuid, person_name, id_card_no, 
      sex, birth_day, address, 
      department_uuid, salary, phone_no, 
      email, remark, gmt_create, 
      gmt_modified, version)
    values (#{personUuid,jdbcType=VARCHAR}, #{personName,jdbcType=VARCHAR}, #{idCardNo,jdbcType=VARCHAR}, 
      #{sex,jdbcType=TINYINT}, #{birthDay,jdbcType=TIMESTAMP}, #{address,jdbcType=VARCHAR}, 
      #{departmentUuid,jdbcType=VARCHAR}, #{salary,jdbcType=DECIMAL}, #{phoneNo,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, now(),
      now(), uuid())
  </insert>
  <insert id="insertSelective" parameterType="com.dongdong.entity.dao.Person">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into person
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="personUuid != null">
        person_uuid,
      </if>
      <if test="personName != null">
        person_name,
      </if>
      <if test="idCardNo != null">
        id_card_no,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="birthDay != null">
        birth_day,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="departmentUuid != null">
        department_uuid,
      </if>
      <if test="salary != null">
        salary,
      </if>
      <if test="phoneNo != null">
        phone_no,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="version != null">
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="personUuid != null">
        #{personUuid,jdbcType=VARCHAR},
      </if>
      <if test="personName != null">
        #{personName,jdbcType=VARCHAR},
      </if>
      <if test="idCardNo != null">
        #{idCardNo,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=TINYINT},
      </if>
      <if test="birthDay != null">
        #{birthDay,jdbcType=TIMESTAMP},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="departmentUuid != null">
        #{departmentUuid,jdbcType=VARCHAR},
      </if>
      <if test="salary != null">
        #{salary,jdbcType=DECIMAL},
      </if>
      <if test="phoneNo != null">
        #{phoneNo,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        #{version,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPersonUuid" parameterType="com.dongdong.entity.dao.Person">
    update person
    <set>
      <if test="personName != null">
        person_name = #{personName,jdbcType=VARCHAR},
      </if>
      <if test="idCardNo != null">
        id_card_no = #{idCardNo,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=TINYINT},
      </if>
      <if test="birthDay != null">
        birth_day = #{birthDay,jdbcType=TIMESTAMP},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="departmentUuid != null">
        department_uuid = #{departmentUuid,jdbcType=VARCHAR},
      </if>
      <if test="salary != null">
        salary = #{salary,jdbcType=DECIMAL},
      </if>
      <if test="phoneNo != null">
        phone_no = #{phoneNo,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      gmt_modified = now(),
      version = uuid()
    </set>
    where person_uuid = #{personUuid,jdbcType=VARCHAR}
    and version = #{version,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dongdong.entity.dao.Person">
    update person
    set person_uuid = #{personUuid,jdbcType=VARCHAR},
      person_name = #{personName,jdbcType=VARCHAR},
      id_card_no = #{idCardNo,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=TINYINT},
      birth_day = #{birthDay,jdbcType=TIMESTAMP},
      address = #{address,jdbcType=VARCHAR},
      department_uuid = #{departmentUuid,jdbcType=VARCHAR},
      salary = #{salary,jdbcType=DECIMAL},
      phone_no = #{phoneNo,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByIdCard" parameterType="com.dongdong.entity.dao.Person" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from person
    where
    id_card_no = #{idCardNo,jdbcType=VARCHAR}
    and person_name = #{personName,jdbcType=VARCHAR}
  </select>
  <select id="selectByUuid" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from person
    where person_uuid = #{personUuid,jdbcType=VARCHAR}
  </select>
</mapper>